.chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url('../res/chatArea-backgroundTexture.jpg'); 
    background-color: var(--bg-chat);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light; 
    
    position: relative;
    border-radius: 12px;
    margin: 1rem;
    box-shadow: var(--shadow-md);
    border: 1px solid rgba(0,0,0,0.05);
    overflow: hidden;
}

.chat-header {
    height: 60px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.chat-partner-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.chat-partner-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-actions {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.chat-actions button:hover {
    color: var(--primary-color);
}

.status {
    font-size: 0.75rem;
    color: #4cd964;
    font-weight: 500;
}

.messages-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.message {
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.message-content {
    padding: 10px 16px;
    border-radius: 18px;
    font-size: 0.95rem;
    line-height: 1.4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.04);
}

.message-received {
    align-self: flex-start;
}

.message-received .message-content {
    background-color: #fff;
    color: var(--text-primary);
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0,0,0,0.03);
    font-weight: 400;
}

.message-sent {
    align-self: flex-end;
}

.message-sent .message-content {
    background-color: var(--primary-sent-color);
    color: #ffffffe8;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0,0,0,0.03);
    font-weight: 400;
}

.message-time {
    font-size: 0.7rem;
    margin-top: 4px;
    color: var(--text-secondary);
    padding: 0 5px;
}

.message-sent .message-time {
    align-self: flex-end;
}