@use '../utils/mixins';

.main-header {
    height: 60px;
    @include mixins.flex-layout(space-between);
    padding: 0 20px;
    margin: 1rem;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: var(--shadow-sm);
    border: 1px solid rgba(0,0,0,0.03);
    z-index: 10;
}

.logo-area {
    margin-right: auto;

    h1 {
        font-size: 1.5rem;
        color: var(--primary-color);
        letter-spacing: -0.5px;
    }
}

.search-bar {
    @include mixins.flex-layout();
    background: var(--bg-app);
    border-radius: 20px;
    padding: 5px 15px;
    margin: 0 10px;
    width: 300px;
    border: 1px solid transparent;
    transition: all 0.2s ease;

    input {
        font-size: 14px;
        border: none;
        background: transparent;
        padding: 8px;
        outline: none;
        width: 100%;
    }
}

.user-actions {
    @include mixins.flex-layout();
    gap: 15px;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 1.1rem;
    transition: all 0.2s;
}

.icon-btn-notifications {
    position: relative;
    padding: 0.6rem;
    padding-right: 5px;

    &:hover {
        transform: scale(1.2);
    }
}

.icon-btn-messages {
    position: relative;
    padding: 0.6rem;
    @include mixins.notification-icon-setup(true);

    &:hover {
        transform: scale(1.2);
    }
}

.dot-badge {
    position: absolute;
    bottom: 1.6rem;
    left: 1.5rem;
    width: 6px;     
    height: 6px;
    background-color: #ff3b30;
    border-radius: 50%;
}

.profile-btn img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid transparent;
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.2);
    }
}